<!-- HEADER -->
<div id="header_wrap" class="outer">
	<header class="inner">
		{% if page.title %}
			<a target="new" id="forkme_banner" href="{{page.github}}">View on GitHub</a>
		{% else %}
			<a target="new" id="forkme_banner" href="https://github.com/humdrum-tools/vhv-demos">View on GitHub</a>
		{% endif %}

		<h1 id="project_title">VHV Demos</h1>
		{% if page.title %}
			<h2 id="project_tagline">{{page.title}}</h2>
		{% else %}
			<h2 id="project_tagline">Example implementations of the Verovio Humdrum Viewer</h2>
		{% endif %}

		<section id="downloads">
			<a class="zip_download_link" href="https://github.com/humdrum-tools/vhv-demos/zipball/master">Download this project as a .zip file</a>
			<a class="tar_download_link" href="https://github.com/humdrum-tools/vhv-demos/tarball/master">Download this project as a tar.gz file</a>
		</section>
	</header>
</div>
