<!-- HEADER -->
<div id="header_wrap" class="outer">
	<header class="inner">
		<a id="forkme_banner" href="https://github.com/humdrum-tools/vhv-demos">View on GitHub</a>

		<h1 id="project_title">VHV Demos</h1>
		<h2 id="project_tagline">Example implementations of the Verovio Humdrum Viewer</h2>

		<section id="downloads">
			<a class="zip_download_link" href="https://github.com/humdrum-tools/vhv-demos/zipball/master">Download this project as a .zip file</a>
			<a class="tar_download_link" href="https://github.com/humdrum-tools/vhv-demos/tarball/master">Download this project as a tar.gz file</a>
		</section>
	</header>
</div>
